
<ion-view view-title="About Us">
 
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        <h2>TODO-APP INTEC</h2>
      </div>
        <div class="item item-text-wrap">

          <p>
              es una aplicación para dispositivos Android que sirve para organizar los quehaceres y
              mantener un control pendientes a realizar. Donde podremos crearlas, administrarlas,
              mantener un recordatorio de estas, marcarlas como realizadas y ver un historial.
          </p>
          <br/>
          <p>
              Este proyecto estará implementado con Ionic. Estará dividido en 2 fases,
              en los cuales se irán mostrando avances y en estos se irá mostrando el esqueleto del proyecto.
          </p>
          <br/>
          <p>
              El propósito es poder realizar una aplicación utilizando cada uno de los lenguajes y
              métodos explicados anteriormente incluyendo algunos web services. Con la utilización
              de estos lenguajes de forma nativa vamos a emprender conocimientos más amplios de cómo
              surgió todo desde un principio, donde todo tiene que ser formado y configurado para los efectos
              y demás componentes.
          </p>
        </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <h2>Desarrolladores</h2>
      </div>

      <ion-item class="item" ng-repeat="people in members"  ng-click="showPopup(people)">
        <a  class="item item-avatar" >
          <img src="{{people.image}}">
          <h2>{{people.name}}</h2>
          <div class="item-body">
            <p>{{people.description}}</p>
          </div>
     
        </a>
      </ion-item>
      <button class="button button-full button-positive" ng-click="goBack()">Volver atras</button>
    </div>
  </ion-content>
</ion-view>