<ion-view view-title="Notas">
  <style>
  .ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: #387ef5;
    margin: -10px -10px 0 -10px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    font-size: 18px;
}
.ionic_datepicker_popup .selected_date {
    background-color: #387ef5;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}
  </style>
  <script id="templates/createNote.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Nueva Nota</h1>
        <button class="button button-clear button-primary" ng-click="modalCreate.hide()">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
              <span class="input-label">Titulo</span>
              <input ng-model="newNote.title" type="text">
            </label>
          <label class="item item-input">
              <span class="input-label">Descripci&oacute;n</span>
              <textarea ng-model="newNote.description" cols="6" rows="6"></textarea>
            </label>
          <label class="item item-input">
              <span class="input-label">Fecha de vencimiento</span>
              <input datetime="yyyy-MM-dd HH:mm:ss" ng-model="newNote.dueDate" ng-click="openDatePicker()" type="text"/>
            </label>
          <label class="item item-input item-select">
              <span class="input-label">Colores</span>
              <select ng-model="newNote.color">
                <option value="#f44336"> Rojo </option>
                <option value="#03a9f4"> Azul </option>
                <option value="#ffeb3b"> Amarillo </option>
                <option value="#8bc34a"> Verde </option>
              </select>
            </label>
          <label class="item item-input item-select">
              <span class="input-label">Recordatorio</span>
              <select ng-model="newNote.remindMe">
                <option value="1"> 15 minutos antes </option>
                <option value="2"> 30 minutos antes </option>
                <option value="3"> 1 hora antes </option>
                <option value="4"> 2 hora antes </option>
              </select>
            </label>
            <label class="item item-input item-select">
              <span class="input-label">Etiqueta</span>
              <select ng-model="newNote.tagId">
                <option ng-repeat="tag in MyTags" value="tag.tagID">{{tag.Name}}</option>
              </select>
            </label>
          <button class="button button-full button-positive" ng-click="addNewNote()">Crear nueva nota</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  <script id="templates/ViewDetails.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Detalle</h1>
        <button class="button button-clear button-primary" ng-click="modalDetails.hide()">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
              <span class="input-label">Titulo</span>
              <input ng-model="noteToUpdate.title" type="text">
            </label>
          <label class="item item-input">
              <span class="input-label">Descripci&oacute;n</span>
              <textarea ng-model="noteToUpdate.description" cols="6" rows="6"></textarea>
            </label>
          <label class="item item-input">
              <span class="input-label">Fecha de vencimiento</span>
              <input datetime="yyyy-MM-dd HH:mm:ss" ng-model="noteToUpdate.dueDate" ng-click="openDatePicker2()" type="text"/>
            </label>
          <label class="item item-input item-select">
              <span class="input-label">Colores</span>
              <select ng-model="noteToUpdate.colorHex">
                <option value="#f44336"> Rojo </option>
                <option value="#03a9f4"> Azul </option>
                <option value="#ffeb3b"> Amarillo </option>
                <option value="#8bc34a"> Verde </option>
              </select>
            </label>
          <label class="item item-input item-select">
              <span class="input-label">Recordatorio</span>
              <select ng-model="noteToUpdate.remindMe">
                <option value="1"> 15 minutos antes </option>
                <option value="2"> 30 minutos antes </option>
                <option value="3"> 1 hora antes </option>
                <option value="4"> 2 hora antes </option>
              </select>
            </label>
            <label class="item item-input item-select">
              <span class="input-label">Etiqueta</span>
              <select ng-model="noteToUpdate.tagId">
                <option ng-repeat="tag in MyTags" value="tag.tagID">{{tag.Name}}</option>
              </select>
            </label>
            <button class="button button-full button-positive" ng-click="updateNote(); modalDetails.hide()">Actualizar nota</button>
          <button class="button button-full button-assertive" ng-click="deleteNote(); modalDetails.hide()">Eliminar nota</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  <ion-content class="padding">
    <button class="button button-block button-positive ion-plus-circled" ng-click="openModalCreate()"> Agregar nueva nota </button>
    
    <button ng-click="ChangeSort(1)" style="margin-bottom:10px;"  class="button button-positive">
      Ordenar por fecha ascendente
    </button>

    <button ng-click="ChangeSort(2)" style="margin-bottom:10px;"  class="button button-calm">
      Ordenar por fecha descendente
    </button>

    
    <ion-list ng-if="MyNotes.length > 0">
      <ion-item ng-repeat="note in MyNotes" style="background-color:{{note.colorHex}}" ng-click="ViewDetails(note)">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
      </ion-item>
    </ion-list>

    <div class="card"  ng-if="MyNotes.length ==0">
      <div class="item item-text-wrap">
        No tienes notas registradas aun
      </div>
    </div>

  </ion-content>
</ion-view>
